In [ ]:
#pandas : veri bilimi:
#network, db, web, mobil,
#get,put,post,delete
#raw: ham data
#datanin icinden bilgi cekmektir. structure data
#veri biliminin amaci datadan katma degerli bilgi cikarmaktir.

!pip install openpyxl --upgrade

!pip install pandas

In [ ]:
#DF: Data Frame: Veri Tablosu
#json, yaml, sql, oracle, txt, python, xlsx, xls, csv, html, text...

In [1]:
#pandas ve json kutuphanelerini import et
import pandas as pd
import json

In [ ]:
#AI1.json

In [2]:
AI1=[{'Technology': 'NA', 'Library': 'Netmiko'},
 {'Technology': 'DS', 'Library': 'Pandas'},
 {'Technology': 'ML', 'Library': 'SciPy'},
 {'Technology': 'DL', 'Library': 'Keras'},
 {'Technology': 'RPA', 'Library': 'Tkinter'},
 {'Technology': 'Rest API', 'Library': 'Requests'}]

AI1

[{'Technology': 'NA', 'Library': 'Netmiko'},
 {'Technology': 'DS', 'Library': 'Pandas'},
 {'Technology': 'ML', 'Library': 'SciPy'},
 {'Technology': 'DL', 'Library': 'Keras'},
 {'Technology': 'RPA', 'Library': 'Tkinter'},
 {'Technology': 'Rest API', 'Library': 'Requests'}]

In [3]:
#A1.json dosyasini uret
#AI1 variable'ini json variable'i yap ve json dosyasina yazdir

with open('AI1.json','w') as f:
    f.write(json.dumps(AI1))

In [4]:
#json dosyasindan data frame uret
df1=pd.read_json('AI1.json')
df1

  Technology   Library
0         NA   Netmiko
1         DS    Pandas
2         ML     SciPy
3         DL     Keras
4        RPA   Tkinter
5   Rest API  Requests

In [5]:
#AI1.json dosyasini python variable'ina cevir AI2 diye
with open('AI1.json') as f:
    AI2=json.load(f)
AI2

[{'Technology': 'NA', 'Library': 'Netmiko'},
 {'Technology': 'DS', 'Library': 'Pandas'},
 {'Technology': 'ML', 'Library': 'SciPy'},
 {'Technology': 'DL', 'Library': 'Keras'},
 {'Technology': 'RPA', 'Library': 'Tkinter'},
 {'Technology': 'Rest API', 'Library': 'Requests'}]

In [6]:
#python variable'i AI2'yi, AI3_json ismiyle json variable'ina cevir
AI3_json=json.dumps(AI2)
AI3_json

'[{"Technology": "NA", "Library": "Netmiko"}, {"Technology": "DS", "Library": "Pandas"}, {"Technology": "ML", "Library": "SciPy"}, {"Technology": "DL", "Library": "Keras"}, {"Technology": "RPA", "Library": "Tkinter"}, {"Technology": "Rest API", "Library": "Requests"}]'

In [7]:
#AI3_json isimli json variable'indan data frame uret df2 diye
df2=pd.read_json(AI3_json)
df2

C:\Users\Dell\AppData\Local\Temp\ipykernel_14776\587406017.py:2: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df2=pd.read_json(AI3_json)

  Technology   Library
0         NA   Netmiko
1         DS    Pandas
2         ML     SciPy
3         DL     Keras
4        RPA   Tkinter
5   Rest API  Requests

In [8]:
yeni={'NA':'Netmiko','DS':'Pandas','ML':'Scipy','DL':'Keras','RPA':'Tkinter','Rest API':'Requests'}
yeni

{'NA': 'Netmiko',
 'DS': 'Pandas',
 'ML': 'Scipy',
 'DL': 'Keras',
 'RPA': 'Tkinter',
 'Rest API': 'Requests'}

In [9]:
#AI1 python variable'ini print et
AI1

[{'Technology': 'NA', 'Library': 'Netmiko'},
 {'Technology': 'DS', 'Library': 'Pandas'},
 {'Technology': 'ML', 'Library': 'SciPy'},
 {'Technology': 'DL', 'Library': 'Keras'},
 {'Technology': 'RPA', 'Library': 'Tkinter'},
 {'Technology': 'Rest API', 'Library': 'Requests'}]

In [10]:
#AI1 python variable'inin veri tipini print et
type(AI1)

list

In [11]:
#AI1 isimli python variable'indan data frame uret df3 diye
df3=pd.DataFrame(AI1)
df3

  Technology   Library
0         NA   Netmiko
1         DS    Pandas
2         ML     SciPy
3         DL     Keras
4        RPA   Tkinter
5   Rest API  Requests

In [12]:
#yeni isimli python variable dictionary'den dataframe uret df4 diye
df4=pd.DataFrame.from_dict(yeni)
df4

ValueError: If using all scalar values, you must pass an index

In [13]:
#yeni isimli python variable dictionary'yi print et
yeni
#scalar : tek tip veri: int, str, float
#liste icinde farkli veri tipleri olursa; sorun yok. cunku scalar degil o zaman

{'NA': 'Netmiko',
 'DS': 'Pandas',
 'ML': 'Scipy',
 'DL': 'Keras',
 'RPA': 'Tkinter',
 'Rest API': 'Requests'}

In [14]:
#index oryantasyonuyla 
#yeni isimli python variable dictionary'den dataframe uret df4 diye

df4=pd.DataFrame.from_dict(yeni,orient='index')
df4

                 0
NA         Netmiko
DS          Pandas
ML           Scipy
DL           Keras
RPA        Tkinter
Rest API  Requests

In [15]:
#index oryantasyonuyla 
#yeni isimli python variable dictionary'den dataframe uret df5 diye
#eksen 1 column adi Library olsun

df5=pd.DataFrame.from_dict(yeni,orient='index',columns=['Library'])
df5

           Library
NA         Netmiko
DS          Pandas
ML           Scipy
DL           Keras
RPA        Tkinter
Rest API  Requests

In [16]:
#T : transpose
df5.T

              NA      DS     ML     DL      RPA  Rest API
Library  Netmiko  Pandas  Scipy  Keras  Tkinter  Requests

In [17]:
#df5'i transpose ederek, df6 uret
df6=df5.T
df6

              NA      DS     ML     DL      RPA  Rest API
Library  Netmiko  Pandas  Scipy  Keras  Tkinter  Requests

In [18]:
#df1'i print et 
df1

  Technology   Library
0         NA   Netmiko
1         DS    Pandas
2         ML     SciPy
3         DL     Keras
4        RPA   Tkinter
5   Rest API  Requests

In [19]:
#df1'i AI1.xlsx isim excel dosyasina donustur
df1.to_excel('AI1.xlsx')

In [20]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dell\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\dell\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [21]:
#AI1.xlsx'den dataframe uret: df1_excel
df1_excel=pd.read_excel('AI1.xlsx')
df1_excel

   Unnamed: 0 Technology   Library
0           0        NaN   Netmiko
1           1         DS    Pandas
2           2         ML     SciPy
3           3         DL     Keras
4           4        RPA   Tkinter
5           5   Rest API  Requests

In [22]:
#df1'i AI2.xlsx isim excel dosyasina donustur
#index olmadan
df1.to_excel('AI2.xlsx',index=False)

In [23]:
#AI2.xlsx'den dataframe uret: df2_excel
df2_excel=pd.read_excel('AI2.xlsx')
df2_excel

  Technology   Library
0        NaN   Netmiko
1         DS    Pandas
2         ML     SciPy
3         DL     Keras
4        RPA   Tkinter
5   Rest API  Requests

In [24]:
#web sayfasini data frame'e cevir
#https://en.wikipedia.org/wiki/List_of_counties_in_Colorado
url='https://en.wikipedia.org/wiki/List_of_counties_in_Colorado'
df7=pd.read_html(url)
len(df7)

11

In [ ]:
#ssl exception ile
from urllib import request
import ssl
context = ssl._create_unverified_context()
response = request.urlopen(url, context=context)
html = response.read()
df7 = pd.read_html(html)

In [25]:
#2.index DataFrame'i gor
df7[2]

,County,Territory or State,Date created,Date superseded,History
0,Taos County,Territory of New Mexico,1852-01-09,1861-02-28,Originally one of the seven partidos of the Sp...
1,Great Salt Lake County,Territory of Utah,1852-03-03,1861-02-28,Created in 1852. Excluded from the new Territo...
2,Green River County,Territory of Utah,1852-03-03,1861-02-28,"Created in 1852, but never organized. Dissolve..."
3,Iron County,Territory of Utah,1852-03-03,1861-02-28,Created in 1852. Excluded from the new Territo...
4,Sanpete County,Territory of Utah,1852-03-03,1861-02-28,Created in 1852. Excluded from the new Territo...
5,Utah County,Territory of Utah,1852-03-03,1861-02-28,Created in 1852. Excluded from the new Territo...
6,Washington County,Territory of Utah,1852-03-03,1861-02-28,Created in 1852. Excluded from the new Territo...
7,Arapahoe County,Territory of Kansas,1855-08-25,1861-01-29,"Created in 1855, but never organized. Reverted..."
8,Beaver County,Territory of Utah,1856-01-05,1861-02-28,Split from Iron and Millard counties in 1856. ...
9,Broderick County,Territory of Kansas,1859-02-07,1861-01-29,"Split from Arapahoe County in 1859, but never ..."
10,El Paso County,Territory of Kansas,1859-02-07,1861-01-29,"Split from Arapahoe County in 1859, but never ..."
11,Fremont County,Territory of Kansas,1859-02-07,1861-01-29,"Split from Arapahoe County in 1859, but never ..."
12,Montana County,Territory of Kansas,1859-02-07,1861-01-29,"Split from Arapahoe County in 1859, but never ..."
13,Oro County,Territory of Kansas,1859-02-07,1861-01-29,"Split from Arapahoe County in 1859, but never ..."
14,Peketon County,Territory of Kansas,1859-02-07,1861-01-29,"Created in 1859, but never organized. Reverted..."
15,Arapahoe County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
16,Cheyenne County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
17,El Paso County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
18,Fountain County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
19,Heele County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
20,Jackson County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
21,Jefferson County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
22,Mountain County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
23,North County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
24,Park County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
25,St. Vrain County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
26,Saratoga County,Territory of Jefferson,1859-11-28,1861-02-28,One of the 12 counties created by the extraleg...
27,Mora County,Territory of New Mexico,1860-02-01,1861-02-28,Split from Taos County and San Miguel County i...
28,Guadalupe County,Territory of Colorado,1861-11-01,1861-11-07,One of the 17 original counties created by the...
29,Greenwood County,Territory of Colorado,1870-02-11,1874-02-06,Created from expropriated Cheyenne and Arapaho...
30,Platte County,Territory of Colorado,1872-02-09,1874-02-09,Created from the eastern portion of Weld Count...
31,Carbonate County,State of Colorado,1879-02-08,1879-02-10,Lake County was renamed Carbonate County in 18...
32,Uncompahgre County,State of Colorado,1883-02-27,1883-03-02,Ouray County was renamed Uncompahgre County fo...
33,South Arapahoe County,State of Colorado,1902-11-15,1903-04-11,One of three counties created from Arapahoe Co...

In [26]:
#The 13 highest mean elevation counties in the United States
#sadece bu tabloyu cek
#match
url='https://en.wikipedia.org/wiki/List_of_counties_in_Colorado'
df7_v2=pd.read_html(url,match='The 13 highest mean elevation counties in the United States')
df7_v2[0]

,Rank[g],County,Mean elevation[f],High point[14],Highest elevation[15][14][16],Low point[16],Lowest elevation[16],Elevation range[h]
0,1,Lake County,"11,702.5 feet 3,567 m",Mount Elbert,"14,440 feet 4,401 m",Arkansas River[i],"8,965 feet 2,733 m","5,475 feet 1,669 m"
1,2,Hinsdale County,"11,300 feet 3,444 m",Uncompahgre Peak,"14,315 feet 4,363 m",Lake Fork Gunnison River,"8,285 feet 2,525 m","6,030 feet 1,838 m"
2,3,Mineral County,"11,116 feet 3,388 m",Phoenix Peak,"13,902 feet 4,237 m",Rio Grande,"8,330 feet 2,539 m","5,572 feet 1,698 m"
3,4,San Juan County,"11,085 feet 3,379 m",Vermilion Peak,"13,900 feet 4,237 m",Animas River,"8,270 feet 2,521 m","5,630 feet 1,716 m"
4,5,Summit County,"10,935.5 feet 3,333 m",Grays Peak,"14,276 feet 4,351 m",Blue River,"7,595 feet 2,315 m","6,681 feet 2,036 m"
5,6,Alamosa County,"10,928.5 feet 3,331 m",Blanca Peak,"14,351 feet 4,374 m",Rio Grande,"7,506 feet 2,288 m","6,845 feet 2,086 m"
6,7,Saguache County,"10,915 feet 3,327 m",Crestone Peak,"14,300 feet 4,359 m",San Luis Creek,"7,530 feet 2,295 m","6,770 feet 2,063 m"
7,8,Costilla County,"10,865.5 feet 3,312 m",Blanca Peak,"14,351 feet 4,374 m",Rio Grande,"7,380 feet 2,249 m","6,971 feet 2,125 m"
8,9,Park County,"10,705.5 feet 3,263 m",Mount Lincoln,"14,293 feet 4,357 m",South Platte River,"7,118 feet 2,170 m","7,175 feet 2,187 m"
9,10,Chaffee County,"10,661 feet 3,249 m",Mount Harvard,"14,427 feet 4,397 m",Arkansas River,"6,895 feet 2,102 m","7,532 feet 2,296 m"
10,11,Clear Creek County,"10,608 feet 3,233 m",Grays Peak,"14,276 feet 4,351 m",Clear Creek,"6,940 feet 2,115 m","7,336 feet 2,236 m"
11,12,Rio Grande County,"10,402 feet 3,171 m",Bennett Peak,"13,209 feet 4,026 m",Rock Creek,"7,595 feet 2,315 m","5,614 feet 1,711 m"
12,13,Jackson County,"10,353 feet 3,156 m",Clark Peak,"12,956 feet 3,949 m",North Platte River,"7,750 feet 2,362 m","5,206 feet 1,587 m"

In [27]:
#Colorado nufus tahmin api
#https://data.colorado.gov/resource/q5vp-adf3.json
#Adams, 2000 yilindaki butun yaslari cek
import requests
url='https://data.colorado.gov/resource/q5vp-adf3.json'
response= requests.get(url)
response.json()

[{'id': '1',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '0',
  'malepopulation': '26850',
  'femalepopulation': '25695',
  'totalpopulation': '52545',
  'datatype': 'Estimate'},
 {'id': '2',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '1',
  'malepopulation': '25924',
  'femalepopulation': '25081',
  'totalpopulation': '51005',
  'datatype': 'Estimate'},
 {'id': '3',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '2',
  'malepopulation': '25942',
  'femalepopulation': '24659',
  'totalpopulation': '50601',
  'datatype': 'Estimate'},
 {'id': '4',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '3',
  'malepopulation': '26255',
  'femalepopulation': '25106',
  'totalpopulation': '51361',
  'datatype': 'Estimate'},
 {'id': '5',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '4',
  'malepopulation': '26654',
  'femalepopulation': '25556',
  'totalpopulation': '52210',
  'datatype': 'Estimate'},
 {'id': '6',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '5',
  'malepopulation': '26079',
  'femalepopulation': '24852',
  'totalpopulation': '50931',
  'datatype': 'Estimate'},
 {'id': '7',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '6',
  'malepopulation': '26259',
  'femalepopulation': '24777',
  'totalpopulation': '51036',
  'datatype': 'Estimate'},
 {'id': '8',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '7',
  'malepopulation': '26468',
  'femalepopulation': '25066',
  'totalpopulation': '51534',
  'datatype': 'Estimate'},
 {'id': '9',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '8',
  'malepopulation': '24822',
  'femalepopulation': '23667',
  'totalpopulation': '48489',
  'datatype': 'Estimate'},
 {'id': '10',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '9',
  'malepopulation': '26293',
  'femalepopulation': '24816',
  'totalpopulation': '51109',
  'datatype': 'Estimate'},
 {'id': '11',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '10',
  'malepopulation': '25479',
  'femalepopulation': '23990',
  'totalpopulation': '49469',
  'datatype': 'Estimate'},
 {'id': '12',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '11',
  'malepopulation': '23663',
  'femalepopulation': '22325',
  'totalpopulation': '45988',
  'datatype': 'Estimate'},
 {'id': '13',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '12',
  'malepopulation': '22988',
  'femalepopulation': '21976',
  'totalpopulation': '44964',
  'datatype': 'Estimate'},
 {'id': '14',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '13',
  'malepopulation': '22502',
  'femalepopulation': '21415',
  'totalpopulation': '43917',
  'datatype': 'Estimate'},
 {'id': '15',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '14',
  'malepopulation': '22123',
  'femalepopulation': '20856',
  'totalpopulation': '42979',
  'datatype': 'Estimate'},
 {'id': '16',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '15',
  'malepopulation': '21965',
  'femalepopulation': '20891',
  'totalpopulation': '42856',
  'datatype': 'Estimate'},
 {'id': '17',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '16',
  'malepopulation': '21542',
  'femalepopulation': '20257',
  'totalpopulation': '41799',
  'datatype': 'Estimate'},
 {'id': '18',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '17',
  'malepopulation': '22533',
  'femalepopulation': '21357',
  'totalpopulation': '43890',
  'datatype': 'Estimate'},
 {'id': '19',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '18',
  'malepopulation': '23794',
  'femalepopulation': '22308',
  'totalpopulation': '46102',
  'datatype': 'Estimate'},
 {'id': '20',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '19',
  'malepopulation': '27390',
  'femalepopulation': '25045',
  'totalpopulation': '52435',
  'datatype': 'Estimate'},
 {'id': '21',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '20',
  'malepopulation': '26701',
  'femalepopulation': '24462',
  'totalpopulation': '51163',
  'datatype': 'Estimate'},
 {'id': '22',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '21',
  'malepopulation': '25569',
  'femalepopulation': '23287',
  'totalpopulation': '48856',
  'datatype': 'Estimate'},
 {'id': '23',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '22',
  'malepopulation': '23953',
  'femalepopulation': '22158',
  'totalpopulation': '46111',
  'datatype': 'Estimate'},
 {'id': '24',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '23',
  'malepopulation': '23495',
  'femalepopulation': '22537',
  'totalpopulation': '46032',
  'datatype': 'Estimate'},
 {'id': '25',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '24',
  'malepopulation': '24655',
  'femalepopulation': '23891',
  'totalpopulation': '48546',
  'datatype': 'Estimate'},
 {'id': '26',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '25',
  'malepopulation': '26487',
  'femalepopulation': '26122',
  'totalpopulation': '52609',
  'datatype': 'Estimate'},
 {'id': '27',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '26',
  'malepopulation': '27751',
  'femalepopulation': '27829',
  'totalpopulation': '55580',
  'datatype': 'Estimate'},
 {'id': '28',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '27',
  'malepopulation': '29329',
  'femalepopulation': '29437',
  'totalpopulation': '58766',
  'datatype': 'Estimate'},
 {'id': '29',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '28',
  'malepopulation': '29218',
  'femalepopulation': '29296',
  'totalpopulation': '58514',
  'datatype': 'Estimate'},
 {'id': '30',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '29',
  'malepopulation': '32389',
  'femalepopulation': '32670',
  'totalpopulation': '65059',
  'datatype': 'Estimate'},
 {'id': '31',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '30',
  'malepopulation': '32362',
  'femalepopulation': '32416',
  'totalpopulation': '64778',
  'datatype': 'Estimate'},
 {'id': '32',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '31',
  'malepopulation': '31954',
  'femalepopulation': '31814',
  'totalpopulation': '63768',
  'datatype': 'Estimate'},
 {'id': '33',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '32',
  'malepopulation': '32508',
  'femalepopulation': '32378',
  'totalpopulation': '64886',
  'datatype': 'Estimate'},
 {'id': '34',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '33',
  'malepopulation': '32228',
  'femalepopulation': '32196',
  'totalpopulation': '64424',
  'datatype': 'Estimate'},
 {'id': '35',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '34',
  'malepopulation': '32568',
  'femalepopulation': '32375',
  'totalpopulation': '64943',
  'datatype': 'Estimate'},
 {'id': '36',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '35',
  'malepopulation': '32367',
  'femalepopulation': '31726',
  'totalpopulation': '64093',
  'datatype': 'Estimate'},
 {'id': '37',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '36',
  'malepopulation': '31309',
  'femalepopulation': '31101',
  'totalpopulation': '62410',
  'datatype': 'Estimate'},
 {'id': '38',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '37',
  'malepopulation': '31201',
  'femalepopulation': '30791',
  'totalpopulation': '61992',
  'datatype': 'Estimate'},
 {'id': '39',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '38',
  'malepopulation': '28917',
  'femalepopulation': '28520',
  'totalpopulation': '57437',
  'datatype': 'Estimate'},
 {'id': '40',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '39',
  'malepopulation': '29876',
  'femalepopulation': '29476',
  'totalpopulation': '59352',
  'datatype': 'Estimate'},
 {'id': '41',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '40',
  'malepopulation': '28716',
  'femalepopulation': '28441',
  'totalpopulation': '57157',
  'datatype': 'Estimate'},
 {'id': '42',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '41',
  'malepopulation': '27752',
  'femalepopulation': '27285',
  'totalpopulation': '55037',
  'datatype': 'Estimate'},
 {'id': '43',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '42',
  'malepopulation': '28024',
  'femalepopulation': '27440',
  'totalpopulation': '55464',
  'datatype': 'Estimate'},
 {'id': '44',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '43',
  'malepopulation': '27091',
  'femalepopulation': '27016',
  'totalpopulation': '54107',
  'datatype': 'Estimate'},
 {'id': '45',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '44',
  'malepopulation': '20595',
  'femalepopulation': '20369',
  'totalpopulation': '40964',
  'datatype': 'Estimate'},
 {'id': '46',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '45',
  'malepopulation': '20678',
  'femalepopulation': '20523',
  'totalpopulation': '41201',
  'datatype': 'Estimate'},
 {'id': '47',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '46',
  'malepopulation': '20016',
  'femalepopulation': '20087',
  'totalpopulation': '40103',
  'datatype': 'Estimate'},
 {'id': '48',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '47',
  'malepopulation': '19890',
  'femalepopulation': '20095',
  'totalpopulation': '39985',
  'datatype': 'Estimate'},
 {'id': '49',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '48',
  'malepopulation': '16641',
  'femalepopulation': '17142',
  'totalpopulation': '33783',
  'datatype': 'Estimate'},
 {'id': '50',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '49',
  'malepopulation': '16787',
  'femalepopulation': '17058',
  'totalpopulation': '33845',
  'datatype': 'Estimate'},
 {'id': '51',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '50',
  'malepopulation': '15807',
  'femalepopulation': '16013',
  'totalpopulation': '31820',
  'datatype': 'Estimate'},
 {'id': '52',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '51',
  'malepopulation': '14979',
  'femalepopulation': '15408',
  'totalpopulation': '30387',
  'datatype': 'Estimate'},
 {'id': '53',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '52',
  'malepopulation': '14401',
  'femalepopulation': '14609',
  'totalpopulation': '29010',
  'datatype': 'Estimate'},
 {'id': '54',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '53',
  'malepopulation': '13718',
  'femalepopulation': '13940',
  'totalpopulation': '27658',
  'datatype': 'Estimate'},
 {'id': '55',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '54',
  'malepopulation': '13849',
  'femalepopulation': '14016',
  'totalpopulation': '27865',
  'datatype': 'Estimate'},
 {'id': '56',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '55',
  'malepopulation': '13318',
  'femalepopulation': '13854',
  'totalpopulation': '27172',
  'datatype': 'Estimate'},
 {'id': '57',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '56',
  'malepopulation': '12395',
  'femalepopulation': '13017',
  'totalpopulation': '25412',
  'datatype': 'Estimate'},
 {'id': '58',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '57',
  'malepopulation': '12540',
  'femalepopulation': '13170',
  'totalpopulation': '25710',
  'datatype': 'Estimate'},
 {'id': '59',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '58',
  'malepopulation': '12178',
  'femalepopulation': '12857',
  'totalpopulation': '25035',
  'datatype': 'Estimate'},
 {'id': '60',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '59',
  'malepopulation': '12950',
  'femalepopulation': '13553',
  'totalpopulation': '26503',
  'datatype': 'Estimate'},
 {'id': '61',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '60',
  'malepopulation': '12434',
  'femalepopulation': '13183',
  'totalpopulation': '25617',
  'datatype': 'Estimate'},
 {'id': '62',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '61',
  'malepopulation': '11853',
  'femalepopulation': '12886',
  'totalpopulation': '24739',
  'datatype': 'Estimate'},
 {'id': '63',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '62',
  'malepopulation': '11662',
  'femalepopulation': '12897',
  'totalpopulation': '24559',
  'datatype': 'Estimate'},
 {'id': '64',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '63',
  'malepopulation': '10911',
  'femalepopulation': '12606',
  'totalpopulation': '23517',
  'datatype': 'Estimate'},
 {'id': '65',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '64',
  'malepopulation': '10814',
  'femalepopulation': '12597',
  'totalpopulation': '23411',
  'datatype': 'Estimate'},
 {'id': '66',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '65',
  'malepopulation': '10867',
  'femalepopulation': '12842',
  'totalpopulation': '23709',
  'datatype': 'Estimate'},
 {'id': '67',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '66',
  'malepopulation': '10534',
  'femalepopulation': '12387',
  'totalpopulation': '22921',
  'datatype': 'Estimate'},
 {'id': '68',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '67',
  'malepopulation': '10064',
  'femalepopulation': '11976',
  'totalpopulation': '22040',
  'datatype': 'Estimate'},
 {'id': '69',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '68',
  'malepopulation': '9953',
  'femalepopulation': '11940',
  'totalpopulation': '21893',
  'datatype': 'Estimate'},
 {'id': '70',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '69',
  'malepopulation': '9377',
  'femalepopulation': '11178',
  'totalpopulation': '20555',
  'datatype': 'Estimate'},
 {'id': '71',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '70',
  'malepopulation': '8480',
  'femalepopulation': '10163',
  'totalpopulation': '18643',
  'datatype': 'Estimate'},
 {'id': '72',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '71',
  'malepopulation': '7980',
  'femalepopulation': '9903',
  'totalpopulation': '17883',
  'datatype': 'Estimate'},
 {'id': '73',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '72',
  'malepopulation': '7433',
  'femalepopulation': '9358',
  'totalpopulation': '16791',
  'datatype': 'Estimate'},
 {'id': '74',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '73',
  'malepopulation': '6705',
  'femalepopulation': '8923',
  'totalpopulation': '15628',
  'datatype': 'Estimate'},
 {'id': '75',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '74',
  'malepopulation': '6245',
  'femalepopulation': '8412',
  'totalpopulation': '14657',
  'datatype': 'Estimate'},
 {'id': '76',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '75',
  'malepopulation': '5877',
  'femalepopulation': '8180',
  'totalpopulation': '14057',
  'datatype': 'Estimate'},
 {'id': '77',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '76',
  'malepopulation': '5363',
  'femalepopulation': '7876',
  'totalpopulation': '13239',
  'datatype': 'Estimate'},
 {'id': '78',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '77',
  'malepopulation': '4927',
  'femalepopulation': '7579',
  'totalpopulation': '12506',
  'datatype': 'Estimate'},
 {'id': '79',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '78',
  'malepopulation': '4574',
  'femalepopulation': '6932',
  'totalpopulation': '11506',
  'datatype': 'Estimate'},
 {'id': '80',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '79',
  'malepopulation': '3991',
  'femalepopulation': '6559',
  'totalpopulation': '10550',
  'datatype': 'Estimate'},
 {'id': '81',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '80',
  'malepopulation': '3444',
  'femalepopulation': '6052',
  'totalpopulation': '9496',
  'datatype': 'Estimate'},
 {'id': '82',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '81',
  'malepopulation': '3225',
  'femalepopulation': '5633',
  'totalpopulation': '8858',
  'datatype': 'Estimate'},
 {'id': '83',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '82',
  'malepopulation': '2907',
  'femalepopulation': '5200',
  'totalpopulation': '8107',
  'datatype': 'Estimate'},
 {'id': '84',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '83',
  'malepopulation': '2449',
  'femalepopulation': '4690',
  'totalpopulation': '7139',
  'datatype': 'Estimate'},
 {'id': '85',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '84',
  'malepopulation': '2105',
  'femalepopulation': '4366',
  'totalpopulation': '6471',
  'datatype': 'Estimate'},
 {'id': '86',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '85',
  'malepopulation': '1867',
  'femalepopulation': '3922',
  'totalpopulation': '5789',
  'datatype': 'Estimate'},
 {'id': '87',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '86',
  'malepopulation': '1548',
  'femalepopulation': '3361',
  'totalpopulation': '4909',
  'datatype': 'Estimate'},
 {'id': '88',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '87',
  'malepopulation': '1263',
  'femalepopulation': '2916',
  'totalpopulation': '4179',
  'datatype': 'Estimate'},
 {'id': '89',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '88',
  'malepopulation': '1002',
  'femalepopulation': '2406',
  'totalpopulation': '3408',
  'datatype': 'Estimate'},
 {'id': '90',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '89',
  'malepopulation': '881',
  'femalepopulation': '2291',
  'totalpopulation': '3172',
  'datatype': 'Estimate'},
 {'id': '91',
  'county': 'Colorado',
  'fipscode': '0',
  'year': '1990',
  'age': '90',
  'malepopulation': '2559',
  'femalepopulation': '8600',
  'totalpopulation': '11159',
  'datatype': 'Estimate'},
 {'id': '92',
  'county': 'Adams',
  'fipscode': '1',
  'year': '1990',
  'age': '0',
  'malepopulation': '2354',
  'femalepopulation': '2404',
  'totalpopulation': '4758',
  'datatype': 'Estimate'},
 {'id': '93',
  'county': 'Adams',
  'fipscode': '1',
  'year': '1990',
  'age': '1',
  'malepopulation': '2345',
  'femalepopulation': '2375',
  'totalpopulation': '4720',
  'datatype': 'Estimate'},
 {'id': '94',
  'county': 'Adams',
  'fipscode': '1',
  'year': '1990',
  'age': '2',
  'malepopulation': '2413',
  'femalepopulation': '2219',
  'totalpopulation': '4632',
  'datatype': 'Estimate'},
 {'id': '95',
  'county': 'Adams',
  'fipscode': '1',
  'year': '1990',
  'age': '3',
  'malepopulation': '2321',
  'femalepopulation': '2261',
  'totalpopulation': '4582',
  'datatype': 'Estimate'},
 {'id': '96',
  'county': 'Adams',
  'fipscode': '1',
  'year': '1990',
  'age': '4',
  'malepopulation': '2433',
  'femalepopulation': '2302',
  'totalpopulation': '4735',
  'datatype': 'Estimate'},
 {'id': '97',
  'county': 'Adams',
  'fipscode': '1',
  'year': '1990',
  'age': '5',
  'malepopulation': '2401',
  'femalepopulation': '2216',
  'totalpopulation': '4617',
  'datatype': 'Estimate'},
 {'id': '98',
  'county': 'Adams',

In [28]:
#bu data ile df8 isimli dataframe olustur
df8=pd.DataFrame(response.json())
df8

,id,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,52545,Estimate
1,2,Colorado,0,1990,1,25924,25081,51005,Estimate
2,3,Colorado,0,1990,2,25942,24659,50601,Estimate
3,4,Colorado,0,1990,3,26255,25106,51361,Estimate
4,5,Colorado,0,1990,4,26654,25556,52210,Estimate
...,...,...,...,...,...,...,...,...,...
995,996,Cheyenne,17,1990,85,0,4,4,Estimate
996,997,Cheyenne,17,1990,86,3,7,10,Estimate
997,998,Cheyenne,17,1990,87,1,3,4,Estimate
998,999,Cheyenne,17,1990,88,1,4,5,Estimate
999,1000,Cheyenne,17,1990,89,2,2,4,Estimate

#dataframe'in info'sunu al
df8.info()

In [29]:
#totalpopulation sutununu getir
df8['totalpopulation']

0      52545
1      51005
2      50601
3      51361
4      52210
       ...
995        4
996       10
997        4
998        5
999        4
Name: totalpopulation, Length: 1000, dtype: object

In [30]:
#totalpopulation sutununun standart sapmasini al
df8['totalpopulation'].std()

TypeError: unsupported operand type(s) for -: 'float' and 'str'

In [ ]:
#numpy kutuphanesini yukle
!pip install numpy

In [31]:
#numpy kutuphanesini import et
#0-1 arasinda random sayi uret
import numpy as np

In [32]:
np.random.random()

0.5819288784244522

In [33]:
#1-100 arasinda random sayi uret
np.random.randint(1,100)

11

In [34]:
#2 array icinde 4 index'li random float sayilar uret
#data variable
data=np.random.randn(2,6)
data

array([[ 1.05343092e+00,  2.17493750e+00,  5.06528867e-01,
        -1.64577711e+00, -1.05854410e-04,  1.23269972e+00],
       [ 2.24405387e+00, -3.10237822e-01,  2.00782937e-01,
        -4.50860921e-01, -4.01134225e-01, -7.80086800e-01]])

In [35]:
#data variable'inin veri tipi ne
data.dtype

dtype('float64')

In [36]:
#4 array icinde 2 index'li 1-100 arasinda random int sayilar uret
#data1 variable
data1=np.random.randint(1,100,size=(4,2))
data1

array([[98, 56],
       [ 4, 35],
       [29, 34],
       [56, 93]])

In [37]:
#data1 variable'inin veri tipi ne
data1.dtype

dtype('int32')

In [38]:
#data variable'inin veri tipini int64 bit yap
#data_int variable'ina ata
data_int=data.astype('int64')
data_int

array([[ 1,  2,  0, -1,  0,  1],
       [ 2,  0,  0,  0,  0,  0]], dtype=int64)

In [39]:
#data_int variable'inin veri tipi ne
data_int.dtype

dtype('int64')

In [40]:
#data1 variable'inin veri tipini float32 bit yap
#data1_float variable'ina ata
data1_float=data1.astype('float32')
data1_float

array([[98., 56.],
       [ 4., 35.],
       [29., 34.],
       [56., 93.]], dtype=float32)

In [41]:
#data1_float variable'inin veri tipi ne
data1_float.dtype

dtype('float32')

In [42]:
#df8 dataframe'inde totalpopulation sutunun veri tipini float32 yap
#astype
df8['totalpopulation']=df8['totalpopulation'].astype('float32')
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1000 non-null   object
 1   county            1000 non-null   object
 2   fipscode          1000 non-null   object
 3   year              1000 non-null   object
 4   age               1000 non-null   object
 5   malepopulation    1000 non-null   object
 6   femalepopulation  1000 non-null   object
 7   totalpopulation   1000 non-null   float32
 8   datatype          1000 non-null   object
dtypes: float32(1), object(8)
memory usage: 66.5+ KB

In [43]:
#df8 dataframe'inde totalpopulation column'unu getir
df8['totalpopulation']

0      52545.0
1      51005.0
2      50601.0
3      51361.0
4      52210.0
        ...
995        4.0
996       10.0
997        4.0
998        5.0
999        4.0
Name: totalpopulation, Length: 1000, dtype: float32

In [44]:
#df8 dataframe'inde totalpopulation column'unun toplamini al
df8['totalpopulation'].sum()

4232523.0

In [45]:
#df8 dataframe'inde totalpopulation column'unundaki en yuksek sayiyi al
df8['totalpopulation'].max()

65059.0

In [46]:
#df8 dataframe'inde totalpopulation column'unundaki en dusuk sayiyi al
df8['totalpopulation'].min()

0.0

In [47]:
#df8 dataframe'inde totalpopulation column'unun standart sapmasini al
df8['totalpopulation'].std()

11759.7607421875

In [48]:
#df8 dataframe'inde totalpopulation column'unun degerlerini al
df8['totalpopulation'].values

array([5.2545e+04, 5.1005e+04, 5.0601e+04, 5.1361e+04, 5.2210e+04,
       5.0931e+04, 5.1036e+04, 5.1534e+04, 4.8489e+04, 5.1109e+04,
       4.9469e+04, 4.5988e+04, 4.4964e+04, 4.3917e+04, 4.2979e+04,
       4.2856e+04, 4.1799e+04, 4.3890e+04, 4.6102e+04, 5.2435e+04,
       5.1163e+04, 4.8856e+04, 4.6111e+04, 4.6032e+04, 4.8546e+04,
       5.2609e+04, 5.5580e+04, 5.8766e+04, 5.8514e+04, 6.5059e+04,
       6.4778e+04, 6.3768e+04, 6.4886e+04, 6.4424e+04, 6.4943e+04,
       6.4093e+04, 6.2410e+04, 6.1992e+04, 5.7437e+04, 5.9352e+04,
       5.7157e+04, 5.5037e+04, 5.5464e+04, 5.4107e+04, 4.0964e+04,
       4.1201e+04, 4.0103e+04, 3.9985e+04, 3.3783e+04, 3.3845e+04,
       3.1820e+04, 3.0387e+04, 2.9010e+04, 2.7658e+04, 2.7865e+04,
       2.7172e+04, 2.5412e+04, 2.5710e+04, 2.5035e+04, 2.6503e+04,
       2.5617e+04, 2.4739e+04, 2.4559e+04, 2.3517e+04, 2.3411e+04,
       2.3709e+04, 2.2921e+04, 2.2040e+04, 2.1893e+04, 2.0555e+04,
       1.8643e+04, 1.7883e+04, 1.6791e+04, 1.5628e+04, 1.4657e+04,
       1.4057e+04, 1.3239e+04, 1.2506e+04, 1.1506e+04, 1.0550e+04,
       9.4960e+03, 8.8580e+03, 8.1070e+03, 7.1390e+03, 6.4710e+03,
       5.7890e+03, 4.9090e+03, 4.1790e+03, 3.4080e+03, 3.1720e+03,
       1.1159e+04, 4.7580e+03, 4.7200e+03, 4.6320e+03, 4.5820e+03,
       4.7350e+03, 4.6170e+03, 4.5980e+03, 4.7120e+03, 4.4000e+03,
       4.6090e+03, 4.3150e+03, 4.0920e+03, 3.9570e+03, 3.8740e+03,
       3.7370e+03, 3.7030e+03, 3.5760e+03, 3.7770e+03, 3.6500e+03,
       3.9110e+03, 3.8140e+03, 3.6070e+03, 3.5760e+03, 3.9250e+03,
       4.2280e+03, 4.6500e+03, 4.9020e+03, 5.2460e+03, 5.1530e+03,
       5.6410e+03, 5.5680e+03, 5.4460e+03, 5.4100e+03, 5.1900e+03,
       5.2210e+03, 4.9470e+03, 4.7620e+03, 4.7250e+03, 4.2720e+03,
       4.3740e+03, 4.1410e+03, 4.0620e+03, 4.0620e+03, 3.9470e+03,
       2.9030e+03, 3.0190e+03, 2.9270e+03, 3.0280e+03, 2.5890e+03,
       2.6170e+03, 2.4660e+03, 2.4580e+03, 2.4350e+03, 2.3510e+03,
       2.3780e+03, 2.3040e+03, 2.1420e+03, 2.2110e+03, 2.0750e+03,
       2.2040e+03, 2.1010e+03, 2.0120e+03, 1.9930e+03, 1.8050e+03,
       1.7520e+03, 1.7300e+03, 1.6200e+03, 1.5270e+03, 1.4910e+03,
       1.3740e+03, 1.1980e+03, 1.1260e+03, 1.0320e+03, 9.8700e+02,
       9.0800e+02, 8.1400e+02, 7.4200e+02, 7.1600e+02, 6.0400e+02,
       5.9400e+02, 5.1300e+02, 4.4900e+02, 4.1200e+02, 3.7600e+02,
       3.2800e+02, 2.6400e+02, 2.1400e+02, 1.8800e+02, 1.6500e+02,
       1.6200e+02, 5.8100e+02, 2.1800e+02, 2.5600e+02, 2.3600e+02,
       2.3000e+02, 2.4100e+02, 2.1800e+02, 2.2300e+02, 2.5100e+02,
       2.3100e+02, 2.2400e+02, 2.2400e+02, 2.1500e+02, 2.2100e+02,
       2.2100e+02, 1.8600e+02, 1.8400e+02, 1.9800e+02, 2.0000e+02,
       3.2900e+02, 4.2600e+02, 3.9800e+02, 3.2700e+02, 2.7800e+02,
       2.2200e+02, 2.1100e+02, 2.0500e+02, 2.1100e+02, 2.2000e+02,
       2.0300e+02, 2.1100e+02, 2.1400e+02, 2.2900e+02, 2.2400e+02,
       1.9800e+02, 2.1000e+02, 2.1300e+02, 2.2800e+02, 1.9600e+02,
       2.1800e+02, 2.2500e+02, 2.0400e+02, 2.0400e+02, 1.8500e+02,
       1.5400e+02, 1.3700e+02, 1.6700e+02, 1.3300e+02, 1.1700e+02,
       1.1800e+02, 1.2100e+02, 1.1900e+02, 1.2800e+02, 1.1700e+02,
       9.2000e+01, 9.5000e+01, 1.0000e+02, 1.0400e+02, 9.5000e+01,
       8.2000e+01, 9.4000e+01, 9.4000e+01, 8.4000e+01, 8.9000e+01,
       8.8000e+01, 8.0000e+01, 6.7000e+01, 7.4000e+01, 6.6000e+01,
       7.6000e+01, 7.6000e+01, 7.3000e+01, 6.3000e+01, 5.2000e+01,
       5.5000e+01, 6.0000e+01, 5.0000e+01, 5.8000e+01, 5.6000e+01,
       5.5000e+01, 4.4000e+01, 4.0000e+01, 2.9000e+01, 3.4000e+01,
       3.3000e+01, 4.0000e+01, 1.5000e+01, 2.1000e+01, 1.8000e+01,
       1.2000e+01, 2.1000e+01, 5.5000e+01, 6.2350e+03, 6.1730e+03,
       6.1580e+03, 6.3490e+03, 6.4060e+03, 6.4050e+03, 6.3680e+03,
       6.3480e+03, 5.9810e+03, 6.2450e+03, 6.0800e+03, 5.5970e+03,
       5.5990e+03, 5.4390e+03, 5.3920e+03, 5.4040e+03, 5.2890e+03,
       5.5740e+03, 4.9460e+03, 4.9110e+03, 4.6930e+03, 4.5920e+03,
       4.7680e+03, 5.3460e+03, 5.8180e+03, 6.3720e+03, 6.9350e+03,
       7.4350e+03, 7.3730e+03, 8.0830e+03, 8.0750e+03, 7.9570e+03,
       8.0590e+03, 8.0040e+03, 8.0030e+03, 8.0890e+03, 7.8970e+03,
       7.8620e+03, 7.3340e+03, 7.6570e+03, 7.6040e+03, 7.5940e+03,
       7.7070e+03, 7.5110e+03, 5.5700e+03, 5.6750e+03, 5.5550e+03,
       5.3620e+03, 4.4340e+03, 4.3470e+03, 4.0840e+03, 3.8410e+03,
       3.5350e+03, 3.3890e+03, 3.3080e+03, 3.1750e+03, 2.9410e+03,
       2.8640e+03, 2.8360e+03, 2.8900e+03, 2.6980e+03, 2.5330e+03,
       2.4800e+03, 2.4250e+03, 2.4350e+03, 2.4350e+03, 2.2970e+03,
       2.1900e+03, 2.1920e+03, 2.0340e+03, 1.8130e+03, 1.7260e+03,
       1.5860e+03, 1.4310e+03, 1.2730e+03, 1.1790e+03, 1.1110e+03,
       1.0160e+03, 8.8900e+02, 7.6300e+02, 7.1100e+02, 6.7600e+02,
       5.9600e+02, 5.1600e+02, 4.7700e+02, 4.1400e+02, 3.4700e+02,
       3.0800e+02, 2.5000e+02, 2.2400e+02, 7.9100e+02, 9.2000e+01,
       8.6000e+01, 8.8000e+01, 8.2000e+01, 1.0200e+02, 9.5000e+01,
       9.5000e+01, 9.3000e+01, 1.0500e+02, 8.8000e+01, 1.0300e+02,
       8.5000e+01, 8.7000e+01, 8.1000e+01, 6.8000e+01, 6.6000e+01,
       8.0000e+01, 9.4000e+01, 5.3000e+01, 3.7000e+01, 4.6000e+01,
       3.2000e+01, 4.1000e+01, 3.8000e+01, 4.5000e+01, 4.8000e+01,
       5.8000e+01, 6.7000e+01, 6.3000e+01, 6.9000e+01, 6.9000e+01,
       1.0200e+02, 7.5000e+01, 8.9000e+01, 1.0800e+02, 9.3000e+01,
       9.4000e+01, 1.2300e+02, 8.8000e+01, 9.9000e+01, 7.7000e+01,
       8.3000e+01, 1.0000e+02, 9.6000e+01, 7.2000e+01, 6.6000e+01,
       6.0000e+01, 6.8000e+01, 5.7000e+01, 6.7000e+01, 5.5000e+01,
       5.4000e+01, 4.8000e+01, 5.8000e+01, 4.0000e+01, 5.0000e+01,
       4.4000e+01, 5.8000e+01, 4.4000e+01, 6.7000e+01, 7.3000e+01,
       6.6000e+01, 6.1000e+01, 7.4000e+01, 6.9000e+01, 5.5000e+01,
       5.9000e+01, 5.2000e+01, 4.6000e+01, 4.2000e+01, 4.4000e+01,
       3.6000e+01, 3.9000e+01, 3.1000e+01, 2.7000e+01, 3.6000e+01,
       1.9000e+01, 2.5000e+01, 1.1000e+01, 1.4000e+01, 1.2000e+01,
       1.3000e+01, 1.6000e+01, 6.0000e+00, 7.0000e+00, 2.0000e+00,
       9.0000e+00, 4.0000e+00, 3.0000e+00, 4.0000e+00, 6.0000e+00,
       5.0000e+01, 5.4000e+01, 6.8000e+01, 6.5000e+01, 6.7000e+01,
       5.5000e+01, 7.8000e+01, 9.3000e+01, 5.9000e+01, 6.3000e+01,
       6.5000e+01, 6.2000e+01, 6.2000e+01, 7.0000e+01, 5.6000e+01,
       6.3000e+01, 6.7000e+01, 6.0000e+01, 3.9000e+01, 3.0000e+01,
       3.8000e+01, 2.9000e+01, 3.9000e+01, 3.8000e+01, 4.0000e+01,
       4.6000e+01, 6.2000e+01, 5.5000e+01, 5.8000e+01, 5.2000e+01,
       6.6000e+01, 5.5000e+01, 5.1000e+01, 7.5000e+01, 6.8000e+01,
       8.1000e+01, 5.9000e+01, 6.7000e+01, 7.4000e+01, 5.1000e+01,
       5.5000e+01, 6.4000e+01, 6.4000e+01, 6.6000e+01, 6.1000e+01,
       5.3000e+01, 6.1000e+01, 5.4000e+01, 4.7000e+01, 4.9000e+01,
       5.4000e+01, 4.7000e+01, 3.1000e+01, 4.2000e+01, 3.9000e+01,
       4.8000e+01, 3.6000e+01, 4.5000e+01, 5.5000e+01, 5.1000e+01,
       6.8000e+01, 4.5000e+01, 5.0000e+01, 5.2000e+01, 5.3000e+01,
       6.3000e+01, 5.5000e+01, 6.0000e+01, 6.0000e+01, 4.8000e+01,
       6.3000e+01, 5.3000e+01, 3.9000e+01, 3.7000e+01, 4.6000e+01,
       4.2000e+01, 3.7000e+01, 3.6000e+01, 2.6000e+01, 3.5000e+01,
       3.4000e+01, 2.5000e+01, 2.6000e+01, 2.3000e+01, 2.0000e+01,
       1.8000e+01, 1.9000e+01, 1.8000e+01, 1.1000e+01, 8.0000e+00,
       3.4000e+01, 5.3000e+01, 7.2000e+01, 7.0000e+01, 6.5000e+01,
       7.1000e+01, 7.8000e+01, 6.6000e+01, 7.6000e+01, 8.6000e+01,
       7.5000e+01, 7.9000e+01, 7.6000e+01, 7.5000e+01, 8.5000e+01,
       7.1000e+01, 6.6000e+01, 9.3000e+01, 7.6000e+01, 6.7000e+01,
       5.2000e+01, 4.2000e+01, 2.9000e+01, 3.0000e+01, 4.2000e+01,
       2.4000e+01, 3.8000e+01, 5.0000e+01, 5.7000e+01, 4.3000e+01,
       5.9000e+01, 6.8000e+01, 6.8000e+01, 7.4000e+01, 7.0000e+01,
       7.1000e+01, 6.6000e+01, 6.4000e+01, 8.3000e+01, 7.9000e+01,
       8.2000e+01, 7.4000e+01, 8.0000e+01, 6.9000e+01, 8.5000e+01,
       5.9000e+01, 7.5000e+01, 5.5000e+01, 5.4000e+01, 5.4000e+01,
       5.2000e+01, 5.4000e+01, 5.6000e+01, 4.7000e+01, 4.5000e+01,
       4.5000e+01, 6.0000e+01, 5.9000e+01, 6.1000e+01, 6.3000e+01,
       6.4000e+01, 6.6000e+01, 5.8000e+01, 5.6000e+01, 5.6000e+01,
       6.8000e+01, 5.7000e+01, 6.3000e+01, 5.8000e+01, 6.0000e+01,
       5.2000e+01, 5.3000e+01, 4.4000e+01, 6.3000e+01, 4.8000e+01,
       4.1000e+01, 4.1000e+01, 4.0000e+01, 4.0000e+01, 3.5000e+01,
       3.8000e+01, 3.0000e+01, 2.3000e+01, 3.2000e+01, 1.7000e+01,
       2.3000e+01, 1.8000e+01, 1.1000e+01, 1.2000e+01, 1.0000e+01,
       6.0000e+00, 2.7000e+01, 3.2270e+03, 3.1640e+03, 3.1570e+03,
       3.1610e+03, 3.2900e+03, 3.1370e+03, 3.0740e+03, 3.1040e+03,
       2.9170e+03, 3.0940e+03, 2.8670e+03, 2.7320e+03, 2.6230e+03,
       2.5550e+03, 2.5190e+03, 2.4970e+03, 2.4400e+03, 2.6410e+03,
       4.0870e+03, 5.5430e+03, 5.7310e+03, 5.5570e+03, 4.6700e+03,
       3.8920e+03, 3.6010e+03, 3.7900e+03, 4.0230e+03, 4.1660e+03,
       4.1390e+03, 4.6300e+03, 4.7220e+03, 4.5720e+03, 4.7240e+03,
       4.7000e+03, 4.8200e+03, 4.7070e+03, 4.6300e+03, 4.7040e+03,
       4.3420e+03, 4.3870e+03, 4.2720e+03, 4.0820e+03, 4.0500e+03,
       4.0000e+03, 3.0070e+03, 2.9680e+03, 2.8380e+03, 2.8980e+03,
       2.3110e+03, 2.2800e+03, 2.1650e+03, 2.0780e+03, 1.9480e+03,
       1.7580e+03, 1.7460e+03, 1.7400e+03, 1.5010e+03, 1.4960e+03,
       1.4650e+03, 1.4320e+03, 1.3690e+03, 1.3070e+03, 1.2810e+03,
       1.2430e+03, 1.1950e+03, 1.1960e+03, 1.1470e+03, 1.0900e+03,
       1.0760e+03, 9.9900e+02, 9.1600e+02, 9.2200e+02, 8.6300e+02,
       7.9000e+02, 7.3100e+02, 7.2400e+02, 6.9300e+02, 6.6900e+02,
       6.4000e+02, 6.1000e+02, 5.3100e+02, 4.9400e+02, 4.4000e+02,
       4.0300e+02, 3.4300e+02, 3.6800e+02, 2.9500e+02, 2.6000e+02,
       1.9200e+02, 1.9300e+02, 6.7100e+02, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.3600e+02,
       1.4200e+02, 1.2200e+02, 1.5600e+02, 1.4900e+02, 1.6100e+02,
       1.7200e+02, 1.8300e+02, 1.5200e+02, 1.7300e+02, 1.8800e+02,
       1.6500e+02, 1.7300e+02, 1.7800e+02, 1.6000e+02, 1.7200e+02,
       1.5800e+02, 1.6500e+02, 1.3400e+02, 1.3600e+02, 1.5300e+02,
       1.5900e+02, 1.5000e+02, 1.7000e+02, 1.4700e+02, 1.6900e+02,
       1.7400e+02, 1.9300e+02, 1.9700e+02, 1.9200e+02, 1.9400e+02,
       2.0000e+02, 2.1700e+02, 2.0800e+02, 2.1900e+02, 2.0900e+02,
       1.9200e+02, 2.0300e+02, 1.9100e+02, 2.1900e+02, 2.2500e+02,
       1.9600e+02, 1.9800e+02, 2.0600e+02, 1.4600e+02, 1.4000e+02,
       1.5700e+02, 1.4500e+02, 1.3900e+02, 1.3800e+02, 1.1700e+02,
       1.4000e+02, 1.2000e+02, 1.3300e+02, 1.2800e+02, 1.3500e+02,
       1.3300e+02, 1.1500e+02, 1.1700e+02, 1.3800e+02, 1.5900e+02,
       1.4700e+02, 1.2300e+02, 1.3000e+02, 1.4900e+02, 1.5900e+02,
       1.5600e+02, 1.2200e+02, 1.3800e+02, 1.4500e+02, 1.1500e+02,
       1.1500e+02, 9.2000e+01, 9.6000e+01, 9.1000e+01, 9.3000e+01,
       1.0100e+02, 8.2000e+01, 7.3000e+01, 5.8000e+01, 5.5000e+01,
       4.6000e+01, 4.6000e+01, 5.1000e+01, 4.7000e+01, 3.2000e+01,
       2.3000e+01, 1.9000e+01, 2.6000e+01, 2.2000e+01, 7.6000e+01,
       4.3000e+01, 4.4000e+01, 3.5000e+01, 4.9000e+01, 5.2000e+01,
       4.8000e+01, 5.4000e+01, 4.4000e+01, 4.4000e+01, 4.2000e+01,
       4.2000e+01, 4.0000e+01, 3.6000e+01, 3.0000e+01, 5.0000e+01,
       2.5000e+01, 4.3000e+01, 3.4000e+01, 1.9000e+01, 1.8000e+01,
       2.4000e+01, 1.6000e+01, 1.6000e+01, 2.4000e+01, 2.4000e+01,
       3.6000e+01, 4.4000e+01, 4.5000e+01, 4.9000e+01, 5.9000e+01,
       4.6000e+01, 3.6000e+01, 3.9000e+01, 2.5000e+01, 3.8000e+01,
       3.7000e+01, 4.2000e+01, 4.2000e+01, 4.0000e+01, 3.2000e+01,
       3.9000e+01, 2.5000e+01, 1.7000e+01, 3.4000e+01, 2.2000e+01,
       1.6000e+01, 2.1000e+01, 2.1000e+01, 1.8000e+01, 2.4000e+01,
       1.9000e+01, 1.8000e+01, 1.4000e+01, 2.0000e+01, 2.4000e+01,
       1.1000e+01, 2.0000e+01, 1.6000e+01, 1.2000e+01, 2.0000e+01,
       2.7000e+01, 2.1000e+01, 2.3000e+01, 2.0000e+01, 2.0000e+01,
       1.7000e+01, 2.4000e+01, 1.6000e+01, 1.6000e+01, 1.9000e+01,
       2.6000e+01, 2.0000e+01, 1.3000e+01, 9.0000e+00, 1.5000e+01,
       1.8000e+01, 1.6000e+01, 1.6000e+01, 1.9000e+01, 1.0000e+01,
       1.8000e+01, 1.1000e+01, 1.4000e+01, 1.5000e+01, 1.4000e+01,
       4.0000e+00, 1.0000e+01, 4.0000e+00, 5.0000e+00, 4.0000e+00],
      dtype=float32)

In [49]:
#df8 dataframe'inin column'larini al
df8.columns

Index(['id', 'county', 'fipscode', 'year', 'age', 'malepopulation',
       'femalepopulation', 'totalpopulation', 'datatype'],
      dtype='object')

In [50]:
#nufusu en yuksek olan verinin tamami
df8[df8['totalpopulation']==df8['totalpopulation'].max()]

,id,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
29,30,Colorado,0,1990,29,32389,32670,65059.0,Estimate

In [51]:
#nufusu en yuksek olan verinin yasi
df8[df8['totalpopulation']==df8['totalpopulation'].max()]['age']

29    29
Name: age, dtype: object

In [52]:
#nufusu en yuksek olan verinin yasi
#values
df8[df8['totalpopulation']==df8['totalpopulation'].max()]['age'].values

array(['29'], dtype=object)

In [53]:
#direk yasi getir sadece
df8[df8['totalpopulation']==df8['totalpopulation'].max()]['age'].values[0]

'29'

In [54]:
#df8 dataframe'inin info al
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1000 non-null   object
 1   county            1000 non-null   object
 2   fipscode          1000 non-null   object
 3   year              1000 non-null   object
 4   age               1000 non-null   object
 5   malepopulation    1000 non-null   object
 6   femalepopulation  1000 non-null   object
 7   totalpopulation   1000 non-null   float32
 8   datatype          1000 non-null   object
dtypes: float32(1), object(8)
memory usage: 66.5+ KB

In [55]:
#df8 sadece datatipi object olanlari al X diye
df8_object=df8.select_dtypes(include='object')
df8_object

,id,county,fipscode,year,age,malepopulation,femalepopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,Estimate
1,2,Colorado,0,1990,1,25924,25081,Estimate
2,3,Colorado,0,1990,2,25942,24659,Estimate
3,4,Colorado,0,1990,3,26255,25106,Estimate
4,5,Colorado,0,1990,4,26654,25556,Estimate
...,...,...,...,...,...,...,...,...
995,996,Cheyenne,17,1990,85,0,4,Estimate
996,997,Cheyenne,17,1990,86,3,7,Estimate
997,998,Cheyenne,17,1990,87,1,3,Estimate
998,999,Cheyenne,17,1990,88,1,4,Estimate
999,1000,Cheyenne,17,1990,89,2,2,Estimate

In [56]:
#df8 sadece datatipi object olanlarin columlarini al
df8_object_columns=df8.select_dtypes(include='object').columns
df8_object_columns

Index(['id', 'county', 'fipscode', 'year', 'age', 'malepopulation',
       'femalepopulation', 'datatype'],
      dtype='object')

In [57]:
#df8 sadece datatipi object olanlarin value'larini al
df8_object_values=df8.select_dtypes(include='object').values
df8_object_values

array([['1', 'Colorado', '0', ..., '26850', '25695', 'Estimate'],
       ['2', 'Colorado', '0', ..., '25924', '25081', 'Estimate'],
       ['3', 'Colorado', '0', ..., '25942', '24659', 'Estimate'],
       ...,
       ['998', 'Cheyenne', '17', ..., '1', '3', 'Estimate'],
       ['999', 'Cheyenne', '17', ..., '1', '4', 'Estimate'],
       ['1000', 'Cheyenne', '17', ..., '2', '2', 'Estimate']],
      dtype=object)

In [58]:
df8[df8_object_columns]

,id,county,fipscode,year,age,malepopulation,femalepopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,Estimate
1,2,Colorado,0,1990,1,25924,25081,Estimate
2,3,Colorado,0,1990,2,25942,24659,Estimate
3,4,Colorado,0,1990,3,26255,25106,Estimate
4,5,Colorado,0,1990,4,26654,25556,Estimate
...,...,...,...,...,...,...,...,...
995,996,Cheyenne,17,1990,85,0,4,Estimate
996,997,Cheyenne,17,1990,86,3,7,Estimate
997,998,Cheyenne,17,1990,87,1,3,Estimate
998,999,Cheyenne,17,1990,88,1,4,Estimate
999,1000,Cheyenne,17,1990,89,2,2,Estimate

In [59]:
#df8 sadece datatipi float32 olanlari al df8_float32 diye
df8_float32=df8.select_dtypes(include=np.float32)
df8_float32

     totalpopulation
0            52545.0
1            51005.0
2            50601.0
3            51361.0
4            52210.0
..               ...
995              4.0
996             10.0
997              4.0
998              5.0
999              4.0

[1000 rows x 1 columns]

In [60]:
#df8 dataframe'inin column'larini al
df8.columns

Index(['id', 'county', 'fipscode', 'year', 'age', 'malepopulation',
       'femalepopulation', 'totalpopulation', 'datatype'],
      dtype='object')

In [61]:
#totalpopulation column'unu malepopulation'dan once gelsin df8'de
columnlar=list(df8.columns)
columnlar

['id',
 'county',
 'fipscode',
 'year',
 'age',
 'malepopulation',
 'femalepopulation',
 'totalpopulation',
 'datatype']

In [62]:
columnlar.index('totalpopulation')

7

In [63]:
columnlar[7]

'totalpopulation'

In [64]:
df8_float32_column=df8.select_dtypes(include=np.float32).columns.values[0]
df8_float32_column

'totalpopulation'

In [65]:
df8['malepopulation']=df8['malepopulation'].astype('int32')
df8

,id,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
1,2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
2,3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
3,4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
4,5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...,...
995,996,Cheyenne,17,1990,85,0,4,4.0,Estimate
996,997,Cheyenne,17,1990,86,3,7,10.0,Estimate
997,998,Cheyenne,17,1990,87,1,3,4.0,Estimate
998,999,Cheyenne,17,1990,88,1,4,5.0,Estimate
999,1000,Cheyenne,17,1990,89,2,2,4.0,Estimate

In [66]:
df8_int32_column=df8.select_dtypes(include=np.int32).columns.values[0]
df8_int32_column

'malepopulation'

In [67]:
columnlar.index(df8_float32_column)

7

In [68]:
columnlar.index(df8_int32_column)

5

In [69]:
columnlar[columnlar.index(df8_float32_column)]=df8_int32_column
columnlar[columnlar.index(df8_int32_column)]=df8_float32_column
columnlar

['id',
 'county',
 'fipscode',
 'year',
 'age',
 'totalpopulation',
 'femalepopulation',
 'malepopulation',
 'datatype']

In [70]:
df8_v2=df8[columnlar]
df8_v2

,id,county,fipscode,year,age,totalpopulation,femalepopulation,malepopulation,datatype
0,1,Colorado,0,1990,0,52545.0,25695,26850,Estimate
1,2,Colorado,0,1990,1,51005.0,25081,25924,Estimate
2,3,Colorado,0,1990,2,50601.0,24659,25942,Estimate
3,4,Colorado,0,1990,3,51361.0,25106,26255,Estimate
4,5,Colorado,0,1990,4,52210.0,25556,26654,Estimate
...,...,...,...,...,...,...,...,...,...
995,996,Cheyenne,17,1990,85,4.0,4,0,Estimate
996,997,Cheyenne,17,1990,86,10.0,7,3,Estimate
997,998,Cheyenne,17,1990,87,4.0,3,1,Estimate
998,999,Cheyenne,17,1990,88,5.0,4,1,Estimate
999,1000,Cheyenne,17,1990,89,4.0,2,2,Estimate

In [71]:
#df8 dataframe'inde femalepopulation sutunun veri tipini int32 yap
#df8 dataframe'inde year sutunun veri tipini int32 yap
#df8 dataframe'inde age sutunun veri tipini int32 yap
#df8 dataframe'inin info al
#astype
df8['femalepopulation']=df8['femalepopulation'].astype('int32')
df8['year']=df8['year'].astype('int32')
df8['age']=df8['age'].astype('int32')
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1000 non-null   object
 1   county            1000 non-null   object
 2   fipscode          1000 non-null   object
 3   year              1000 non-null   int32
 4   age               1000 non-null   int32
 5   malepopulation    1000 non-null   int32
 6   femalepopulation  1000 non-null   int32
 7   totalpopulation   1000 non-null   float32
 8   datatype          1000 non-null   object
dtypes: float32(1), int32(4), object(4)
memory usage: 50.9+ KB

In [72]:
#df8 sadece datatipi object olanlari al X2 diye
X2=df8.select_dtypes(include='object')
X2

       id    county fipscode  datatype
0       1  Colorado        0  Estimate
1       2  Colorado        0  Estimate
2       3  Colorado        0  Estimate
3       4  Colorado        0  Estimate
4       5  Colorado        0  Estimate
..    ...       ...      ...       ...
995   996  Cheyenne       17  Estimate
996   997  Cheyenne       17  Estimate
997   998  Cheyenne       17  Estimate
998   999  Cheyenne       17  Estimate
999  1000  Cheyenne       17  Estimate

[1000 rows x 4 columns]

In [73]:
#sadece datatipi int32  float32 olanlari al X3 diye
X3=df8.select_dtypes(include=(np.float32,np.int32))
X3

     year  age  malepopulation  femalepopulation  totalpopulation
0    1990    0           26850             25695          52545.0
1    1990    1           25924             25081          51005.0
2    1990    2           25942             24659          50601.0
3    1990    3           26255             25106          51361.0
4    1990    4           26654             25556          52210.0
..    ...  ...             ...               ...              ...
995  1990   85               0                 4              4.0
996  1990   86               3                 7             10.0
997  1990   87               1                 3              4.0
998  1990   88               1                 4              5.0
999  1990   89               2                 2              4.0

[1000 rows x 5 columns]

In [74]:
#df8 sadece datatipi object olanlarin columlarini al
X2_columns=df8.select_dtypes(include='object').columns
X2_columns

Index(['id', 'county', 'fipscode', 'datatype'], dtype='object')

In [75]:
#df8 sadece datatipi object olanlarin value'larini al
X2_values=df8.select_dtypes(include='object').values
X2_values

array([['1', 'Colorado', '0', 'Estimate'],
       ['2', 'Colorado', '0', 'Estimate'],
       ['3', 'Colorado', '0', 'Estimate'],
       ...,
       ['998', 'Cheyenne', '17', 'Estimate'],
       ['999', 'Cheyenne', '17', 'Estimate'],
       ['1000', 'Cheyenne', '17', 'Estimate']], dtype=object)

In [76]:
#df8 print et
df8

,id,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
1,2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
2,3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
3,4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
4,5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...,...
995,996,Cheyenne,17,1990,85,0,4,4.0,Estimate
996,997,Cheyenne,17,1990,86,3,7,10.0,Estimate
997,998,Cheyenne,17,1990,87,1,3,4.0,Estimate
998,999,Cheyenne,17,1990,88,1,4,5.0,Estimate
999,1000,Cheyenne,17,1990,89,2,2,4.0,Estimate

In [77]:
#df8 info al
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1000 non-null   object
 1   county            1000 non-null   object
 2   fipscode          1000 non-null   object
 3   year              1000 non-null   int32
 4   age               1000 non-null   int32
 5   malepopulation    1000 non-null   int32
 6   femalepopulation  1000 non-null   int32
 7   totalpopulation   1000 non-null   float32
 8   datatype          1000 non-null   object
dtypes: float32(1), int32(4), object(4)
memory usage: 50.9+ KB

In [78]:
#df8 totalpopulation 500'den buyuk olanlari al=>df9
df8[df8['totalpopulation']>500]

,id,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
1,2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
2,3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
3,4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
4,5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...,...
714,715,Boulder,13,1990,77,247,422,669.0,Estimate
715,716,Boulder,13,1990,78,239,401,640.0,Estimate
716,717,Boulder,13,1990,79,225,385,610.0,Estimate
717,718,Boulder,13,1990,80,178,353,531.0,Estimate
727,728,Boulder,13,1990,90,140,531,671.0,Estimate

In [79]:
#df8 totalpopulation 500'den buyuk olanlari ve age de 50'den kucuk olanlari al=>df10
df8[(df8['totalpopulation']>500)&(df8['age']<50)]

,id,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
1,2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
2,3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
3,4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
4,5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...,...
682,683,Boulder,13,1990,45,1490,1478,2968.0,Estimate
683,684,Boulder,13,1990,46,1439,1399,2838.0,Estimate
684,685,Boulder,13,1990,47,1426,1472,2898.0,Estimate
685,686,Boulder,13,1990,48,1081,1230,2311.0,Estimate
686,687,Boulder,13,1990,49,1131,1149,2280.0,Estimate

In [80]:
#df8 de yasi sort et kucukten buyuge
#df8_yas_asc
df8_yas_asc=df8.sort_values('age')
df8_yas_asc

,id,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
182,183,Alamosa,3,1990,0,116,102,218.0,Estimate
273,274,Arapahoe,5,1990,0,3166,3069,6235.0,Estimate
910,911,Cheyenne,17,1990,0,25,18,43.0,Estimate
637,638,Boulder,13,1990,0,1597,1630,3227.0,Estimate
...,...,...,...,...,...,...,...,...,...
636,637,Bent,11,1990,90,6,21,27.0,Estimate
818,819,Broomfield,14,1990,90,0,0,0.0,Estimate
90,91,Colorado,0,1990,90,2559,8600,11159.0,Estimate
363,364,Arapahoe,5,1990,90,151,640,791.0,Estimate
545,546,Baca,9,1990,90,9,25,34.0,Estimate

In [81]:
#df8 de yasi sort et buyukten kucuge
#df8_yas_desc
df8_yas_desc=df8.sort_values('age',ascending=False)
df8_yas_desc

,id,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
90,91,Colorado,0,1990,90,2559,8600,11159.0,Estimate
636,637,Bent,11,1990,90,6,21,27.0,Estimate
272,273,Alamosa,3,1990,90,11,44,55.0,Estimate
181,182,Adams,1,1990,90,144,437,581.0,Estimate
818,819,Broomfield,14,1990,90,0,0,0.0,Estimate
...,...,...,...,...,...,...,...,...,...
728,729,Broomfield,14,1990,0,0,0,0.0,Estimate
182,183,Alamosa,3,1990,0,116,102,218.0,Estimate
819,820,Chaffee,15,1990,0,70,66,136.0,Estimate
91,92,Adams,1,1990,0,2354,2404,4758.0,Estimate
0,1,Colorado,0,1990,0,26850,25695,52545.0,Estimate

In [82]:
#id column'unu index yap
df8=df8.set_index('id')
df8

,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
id,,,,,,,,
1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...
996,Cheyenne,17,1990,85,0,4,4.0,Estimate
997,Cheyenne,17,1990,86,3,7,10.0,Estimate
998,Cheyenne,17,1990,87,1,3,4.0,Estimate
999,Cheyenne,17,1990,88,1,4,5.0,Estimate
1000,Cheyenne,17,1990,89,2,2,4.0,Estimate

In [83]:
#geri al
df8=df8.reset_index()
df8

,id,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
1,2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
2,3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
3,4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
4,5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...,...
995,996,Cheyenne,17,1990,85,0,4,4.0,Estimate
996,997,Cheyenne,17,1990,86,3,7,10.0,Estimate
997,998,Cheyenne,17,1990,87,1,3,4.0,Estimate
998,999,Cheyenne,17,1990,88,1,4,5.0,Estimate
999,1000,Cheyenne,17,1990,89,2,2,4.0,Estimate

In [84]:
#id column'unu index yap
df8=df8.set_index('id')
df8

,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
id,,,,,,,,
1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...
996,Cheyenne,17,1990,85,0,4,4.0,Estimate
997,Cheyenne,17,1990,86,3,7,10.0,Estimate
998,Cheyenne,17,1990,87,1,3,4.0,Estimate
999,Cheyenne,17,1990,88,1,4,5.0,Estimate
1000,Cheyenne,17,1990,89,2,2,4.0,Estimate

In [85]:
#index ismini degistir: number
df8.index.name='number'
df8

,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
number,,,,,,,,
1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...
996,Cheyenne,17,1990,85,0,4,4.0,Estimate
997,Cheyenne,17,1990,86,3,7,10.0,Estimate
998,Cheyenne,17,1990,87,1,3,4.0,Estimate
999,Cheyenne,17,1990,88,1,4,5.0,Estimate
1000,Cheyenne,17,1990,89,2,2,4.0,Estimate

In [86]:
#index ismini degistir: None
df8.index.name=None
df8

,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...
996,Cheyenne,17,1990,85,0,4,4.0,Estimate
997,Cheyenne,17,1990,86,3,7,10.0,Estimate
998,Cheyenne,17,1990,87,1,3,4.0,Estimate
999,Cheyenne,17,1990,88,1,4,5.0,Estimate
1000,Cheyenne,17,1990,89,2,2,4.0,Estimate

In [87]:
#geri al 
df8=df8.reset_index()
df8

,index,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
1,2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
2,3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
3,4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
4,5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...,...
995,996,Cheyenne,17,1990,85,0,4,4.0,Estimate
996,997,Cheyenne,17,1990,86,3,7,10.0,Estimate
997,998,Cheyenne,17,1990,87,1,3,4.0,Estimate
998,999,Cheyenne,17,1990,88,1,4,5.0,Estimate
999,1000,Cheyenne,17,1990,89,2,2,4.0,Estimate

In [88]:
#column adi index'i id yap
df8=df8.rename(index={'index':'id'})
df8

,index,county,fipscode,year,age,malepopulation,femalepopulation,totalpopulation,datatype
0,1,Colorado,0,1990,0,26850,25695,52545.0,Estimate
1,2,Colorado,0,1990,1,25924,25081,51005.0,Estimate
2,3,Colorado,0,1990,2,25942,24659,50601.0,Estimate
3,4,Colorado,0,1990,3,26255,25106,51361.0,Estimate
4,5,Colorado,0,1990,4,26654,25556,52210.0,Estimate
...,...,...,...,...,...,...,...,...,...
995,996,Cheyenne,17,1990,85,0,4,4.0,Estimate
996,997,Cheyenne,17,1990,86,3,7,10.0,Estimate
997,998,Cheyenne,17,1990,87,1,3,4.0,Estimate
998,999,Cheyenne,17,1990,88,1,4,5.0,Estimate
999,1000,Cheyenne,17,1990,89,2,2,4.0,Estimate

In [89]:
#df1 print et
df1

  Technology   Library
0         NA   Netmiko
1         DS    Pandas
2         ML     SciPy
3         DL     Keras
4        RPA   Tkinter
5   Rest API  Requests

In [90]:
#df1 dataframe'i liste icinde dict cevir
#df1_array
df1_array=df1.to_dict(orient='records')
df1_array

[{'Technology': 'NA', 'Library': 'Netmiko'},
 {'Technology': 'DS', 'Library': 'Pandas'},
 {'Technology': 'ML', 'Library': 'SciPy'},
 {'Technology': 'DL', 'Library': 'Keras'},
 {'Technology': 'RPA', 'Library': 'Tkinter'},
 {'Technology': 'Rest API', 'Library': 'Requests'}]

In [91]:
#df1 dataframe'i dict cevir
#df1_dict
df1_dict=df1.to_dict()
df1_dict

{'Technology': {0: 'NA', 1: 'DS', 2: 'ML', 3: 'DL', 4: 'RPA', 5: 'Rest API'},
 'Library': {0: 'Netmiko',
  1: 'Pandas',
  2: 'SciPy',
  3: 'Keras',
  4: 'Tkinter',
  5: 'Requests'}}

In [92]:
#df1 print et
df1

  Technology   Library
0         NA   Netmiko
1         DS    Pandas
2         ML     SciPy
3         DL     Keras
4        RPA   Tkinter
5   Rest API  Requests

In [93]:
#df1 dataframe'de Technology value'su Rest API olan index'in Library value'su nedir
df1[df1['Technology']=='Rest API']['Library'].values[0]

'Requests'

In [94]:
veri=[{'Technology':'Api','Library':'Flask-restx'},
     {'Technology':'api','Library':'Gradio'}]
veri

[{'Technology': 'Api', 'Library': 'Flask-restx'},
 {'Technology': 'api', 'Library': 'Gradio'}]

In [95]:
#veri variable'indan df_veri olustur
df_veri=pd.DataFrame(veri)
df_veri

  Technology      Library
0        Api  Flask-restx
1        api       Gradio

In [96]:
#df1'e df_veri'yi ekle asagiya dogru index ile (index kaldigi yerden devam edecek sekilde)
df1=pd.concat([df1,df_veri],ignore_index=True)
df1

  Technology      Library
0         NA      Netmiko
1         DS       Pandas
2         ML        SciPy
3         DL        Keras
4        RPA      Tkinter
5   Rest API     Requests
6        Api  Flask-restx
7        api       Gradio

In [97]:
#df1 dataframe'de Technology value'sunun icinde API, Api, api olan verilerin Library value'larini getir
df1.loc[df1['Technology'].str.contains('API|Api|api')] ['Library'].values

array(['Requests', 'Flask-restx', 'Gradio'], dtype=object)

In [98]:
veri2={'Language':['Python','Python','Python','Python','Python','Python','Python','Python'],
        'version':[3,3,3,3,3,3,3,3]}
veri2

{'Language': ['Python',
  'Python',
  'Python',
  'Python',
  'Python',
  'Python',
  'Python',
  'Python'],
 'version': [3, 3, 3, 3, 3, 3, 3, 3]}

In [99]:
#veri2 variable'indan df_veri2 olustur
df_veri2=pd.DataFrame.from_dict(veri2)
df_veri2

  Language  version
0   Python        3
1   Python        3
2   Python        3
3   Python        3
4   Python        3
5   Python        3
6   Python        3
7   Python        3

In [100]:
#df1'e df_veri2'yi ekle saga dogru yeni columnlar olarak
df1=pd.concat([df1,df_veri2],axis=1)
df1

  Technology      Library Language  version
0         NA      Netmiko   Python        3
1         DS       Pandas   Python        3
2         ML        SciPy   Python        3
3         DL        Keras   Python        3
4        RPA      Tkinter   Python        3
5   Rest API     Requests   Python        3
6        Api  Flask-restx   Python        3
7        api       Gradio   Python        3

In [101]:
#df1'e hoca olarak Erdeniz Unvan verisini ekle
df1['Hoca']='Erdeniz Unvan'
df1

  Technology      Library Language  version           Hoca
0         NA      Netmiko   Python        3  Erdeniz Unvan
1         DS       Pandas   Python        3  Erdeniz Unvan
2         ML        SciPy   Python        3  Erdeniz Unvan
3         DL        Keras   Python        3  Erdeniz Unvan
4        RPA      Tkinter   Python        3  Erdeniz Unvan
5   Rest API     Requests   Python        3  Erdeniz Unvan
6        Api  Flask-restx   Python        3  Erdeniz Unvan
7        api       Gradio   Python        3  Erdeniz Unvan

In [102]:
#df1 'de Language version Hoca columnlarini sil
df1=df1.drop(columns=['Language','version','Hoca'])
df1

  Technology      Library
0         NA      Netmiko
1         DS       Pandas
2         ML        SciPy
3         DL        Keras
4        RPA      Tkinter
5   Rest API     Requests
6        Api  Flask-restx
7        api       Gradio

In [103]:
#df1 'de 5 ve 7.ci indexleri sil
df1=df1.drop(index=[5,7])
df1

  Technology      Library
0         NA      Netmiko
1         DS       Pandas
2         ML        SciPy
3         DL        Keras
4        RPA      Tkinter
6        Api  Flask-restx

In [104]:
#df1 'de Technology column'unu Teknoloji ve Library column'unu Kütüphane yap
#df1 'de 0,1,2,3,4,6 index 'lerini A, B, C, D,E, G yap
df1=df1.rename(index={0:'A',1:'B',2:'C',3:'D',4:'E',6:'G'},columns={'Technology':'Teknoloji','Library':'Kütüphane'})
df1

  Teknoloji    Kütüphane
A        NA      Netmiko
B        DS       Pandas
C        ML        SciPy
D        DL        Keras
E       RPA      Tkinter
G       Api  Flask-restx

In [105]:
#df1 'de Teknoloji column'unda NA'yi ağ otomasyonu, ve DS'yi veri bilimi yap
df1['Teknoloji']=df1['Teknoloji'].replace('NA','Ağ otomasyonu')
df1['Teknoloji']=df1['Teknoloji'].replace('DS','veri bilimi')
df1

       Teknoloji    Kütüphane
A  Ağ otomasyonu      Netmiko
B    veri bilimi       Pandas
C             ML        SciPy
D             DL        Keras
E            RPA      Tkinter
G            Api  Flask-restx

In [106]:
#df1 'de A, B, C, D,E, G index 'lerini  0,1,2,3,4,6 yap
df1=df1.rename(index={'A':0,'B':1,'C':2,'D':3,'E':4,'G':6})
df1

       Teknoloji    Kütüphane
0  Ağ otomasyonu      Netmiko
1    veri bilimi       Pandas
2             ML        SciPy
3             DL        Keras
4            RPA      Tkinter
6            Api  Flask-restx

In [107]:
#df1'de 1 index'ini getir
df1.iloc[1]

Teknoloji    veri bilimi
Kütüphane         Pandas
Name: 1, dtype: object

In [108]:
#df1'de 1'den 4'e kadar olan index'leri getir
df1.iloc[1:4]

     Teknoloji Kütüphane
1  veri bilimi    Pandas
2           ML     SciPy
3           DL     Keras

In [110]:
#df1'de sadece 1 ve 4 index'lerini getir
df1.iloc[[1,4]]

     Teknoloji Kütüphane
1  veri bilimi    Pandas
4          RPA   Tkinter

In [112]:
#df1 print et
df1

       Teknoloji    Kütüphane
0  Ağ otomasyonu      Netmiko
1    veri bilimi       Pandas
2             ML        SciPy
3             DL        Keras
4            RPA      Tkinter
6            Api  Flask-restx

In [113]:
#df1'de sadece 1 ve 4 index'lerin verilerinin yerlerini degistir
df1.iloc[[1,4]]=df1.iloc[[4,1]].values
df1

       Teknoloji    Kütüphane
0  Ağ otomasyonu      Netmiko
1            RPA      Tkinter
2             ML        SciPy
3             DL        Keras
4    veri bilimi       Pandas
6            Api  Flask-restx

In [114]:
#df1 'de Kütüphane column'unda Tkinter'i NaN yap
df1['Kütüphane']=df1['Kütüphane'].replace('Tkinter',np.NaN)
df1

       Teknoloji    Kütüphane
0  Ağ otomasyonu      Netmiko
1            RPA          NaN
2             ML        SciPy
3             DL        Keras
4    veri bilimi       Pandas
6            Api  Flask-restx

In [116]:
#df1 info al
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 6
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Teknoloji  6 non-null      object
 1   Kütüphane  5 non-null      object
dtypes: object(2)
memory usage: 144.0+ bytes

In [117]:
#df1'de hangi column'da ne kadar eksik veri var gor
df1.isna().sum()

Teknoloji    0
Kütüphane    1
dtype: int64

In [120]:
#df1'de eksik veriye sahip index'i gor
df1[df1['Kütüphane'].isna()]

  Teknoloji Kütüphane
1       RPA       NaN

In [121]:
#df1'i kopyala df1_x
df1_x=df1.copy()
df1_x

       Teknoloji    Kütüphane
0  Ağ otomasyonu      Netmiko
1            RPA          NaN
2             ML        SciPy
3             DL        Keras
4    veri bilimi       Pandas
6            Api  Flask-restx

In [122]:
#df1_x'de eksik verileri sil
df1_x=df1_x.dropna()
df1_x

       Teknoloji    Kütüphane
0  Ağ otomasyonu      Netmiko
2             ML        SciPy
3             DL        Keras
4    veri bilimi       Pandas
6            Api  Flask-restx

In [123]:
#df1'de eksik verileri Library ile doldur
df1=df1.fillna('Library')
df1

       Teknoloji    Kütüphane
0  Ağ otomasyonu      Netmiko
1            RPA      Library
2             ML        SciPy
3             DL        Keras
4    veri bilimi       Pandas
6            Api  Flask-restx